*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	scroll-behavior: smooth;
	outline: none;
}

body
{
	min-height: 100vh;
	overflow-x: hidden;
	background: linear-gradient(#7c238c,#f24236,#f5f749,#1b2cc1);
}

header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000; 
}

header .logo
{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li

{
	list-style: none;
	margin-left: 20px;
}
header ul li a
{
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
	background: #fff;
	color: #2b1055;
}
section
{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
section::before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #1c0522,transparent);
	z-index: 1000;
}
section img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}
section img#sun
{
	mix-blend-mode: screen;
}
section img#beach
{
	z-index: 10;
}

#text
{
	position: absolute;
	right: 500px;
	color: #fff;
	white-space: nowrap;
	font-size: 5.5vw;
	z-index: 9;
}
#btn
{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #fff;
	color: #2b1055;
	font-size: 1.5em;
	z-index: 9;
	transform: translateY(70px);
}
.sec
{
	position: relative;
	padding: 100px;
	background: #1c0522;
}
.sec h2
{
	font-size: 3.5em;
	margin-bottom: 10px;
	color: #fff;
}
.sec p
{
	font-size: 1em;
	color: #fff;
}

.container
{
    margin: 0 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container h1
{
    color: #fff;
}
.container .tab
{
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0, 05);
    border-radius: 5px;
    overflow: hidden;
}
.container .tab input
{
    appearance: none;
}
.container .tab label
{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .tab label::after
{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 1s;
}

.container .tab:hover label::after
{
    color: #333;
}
.container .tab input:checked ~ label::after
{
    transform: rotate(135deg);
}
.container .tab label h2
{
    width: 40px;
    height: 40px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
}
.container .tab:nth-child(2) label h2
{
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.container .tab:nth-child(3) label h2
{
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.container .tab:nth-child(4) label h2
{
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.container .tab:nth-child(5) label h2
{
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.container .tab:nth-child(6) label h2
{
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.container .tab:nth-child(7) label h2
{
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.container .tab:nth-child(8) label h2
{
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.container .tab:nth-child(9) label h2
{
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.container .tab:nth-child(10) label h2
{
    background: linear-gradient(135deg, #3c8ce7, #00eaff);
}
.container .tab label h3
{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}
.container .tab .content
{
    max-height: 0;
    transition: 1s;
    overflow: hidden;
}
.container .tab input:checked ~ .content
{
    max-height: 100vh;
}
.container .tab .content p
{
    position: relative;
    padding: 10px 0;
    color: #333;
    z-index: 10;
}

.search
{
    width: 60%;
    height: 50px;
    background-color: #fff;
    margin-top: 15%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
	z-index: 100000;
}

.search input
{
    width: 80%;
    height: 100%;
    padding: 1% 3%;
    background: transparent;
    border: none;
}

.search input:hover
{
	border: none;
}

button
{
    width: 20%;
    min-width: 100px;
    height: 100%;
    background: linear-gradient(#7c238c,#f24236);
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
	
}

.search button:hover
{
    background-color: #000;
}

.offered
{
	padding: 50px 0;
}

.offered h1
{
	margin: 0 100px;
	font-size: 30px;
	text-align: center;
}
.offered a
{
	text-decoration: none!important;
}
.offered h2
{
	color: rgba(26,26,26,0.5);
	margin: 0 100px;
	font-size: 17px;
	text-align: center;
}
.offered .type p
{
	color: #000;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.offered .box
{
	width: 235px;
	overflow: hidden;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.0);
	margin: 25px;

}
.offred .slide-img
{
	height: 250px;
	position: relative;
	
	
}
.offered .slide-img img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
		
}
.offered .detail-box
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: 'calibri'
}
.offered .type 
{
	display: flex;
	flex-direction: column;
}

.offered .type span
{
	color: rgba(26,26,26,0.5);
	font-size: 15px;
}
.offered .price
{
	color: #333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}
.offered .overlay
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}
.offered .overlay
{
	visibility: hidden;
}
.offered .slide-img:hover .overlay{
	visibility: visible;
	animation: fade 0.5s;
}
@media all and (max-width: 980px) {
	.offered h1
	{
		margin: 30px;
		font-size: 25px;
	}
	.offered h2
	{
		margin: 50px;
	}
	.feature-details span
	{
		margin-right: 3px;
	}
	#text
	{	
	position: absolute;
	right: 300px;
	color: #fff;
	white-space: nowrap;
	font-size: 5.5vw;
	z-index: 9;
	}
	
}
.slide-img
{
	height: 250px;
	position: relative;
	
	
}
.slide-img img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
		
}
/* footer */
footer
{
	bottom: 0px;
	width: 100%;
	background: #fff;
    color: #000;
}
.main-content
{
	display: flex;
}
.main-content .box
{
	flex-basis: 50%;
	padding: 50px 50px; 
}
.box h2
{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
}
.main-content .box .content
{
	margin: 20px 0 0 0;
	position: relative;
}
.main-content .box .content:before
{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
}
.main-content .box .content:after
{
	position: absolute;
	content: '';
	height: 2px; 
	width: 130px;
}
.left .content .social
{
	margin: 20px 0 0 0;
}
.left .content .social a
{
	padding: 0 2px;
}
.left .content .social a span
{
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}
.left .content .social a span:hover
{
	background: #0096c7;
}
.center .content .fa
{
	font-size: 1.4375rem;
	background: #1a1a1a;
	height: 45px;
	width: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}
.center .content .fa:hover
{
	background: #0096c7;
}
.center .content .text
{
	font-size: 1.0625rem;
	font-weight: 500;
	padding-left: 10px;
}
.center .content .phone
{
	margin: 10px 0;
}
.right form .text
{
	font-size: 1.0625rem;
	margin-bottom: 2px;
	color: #656565;
}
.right form .msg
{
	margin-top: 10px;
}
.right form input, .right form textarea
{
	width: 100%;
	font-size: 1.0625rem;
	background: #151515;
	padding-left: 10px;
	border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus
{
	outline-color: #3498db; 
}

.right form input
{
	height: 35px;
}
.right form .btn
{
	margin-top: 10px;
}
.right form .btn button
{
	height: 40px;
	width: 100%;
	border: none;
	outline: none;
	background: #fff;
	font-size: 1.0625rem;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
	color: #000;
}
.right form .btn button:hover
{
	background: #0096c7;
}
.bottom center
{
	padding: 5px;
	font-size: 0.9375rem;
	background: #151515;
}
.bottom center span
{
	color: #656565;
}
.bottom center a
{
	color: #0096c7;
	text-decoration: none;
}
.bottom center a:hover
{
	text-decoration: none;
}
@media screen and (max-width: 900px)
{
	footer
	{
		position: relative;
		bottom: 0px;
	}
	.main-content
	{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.main-content .box
	{
		margin: 5px 0;
	}

}

.field {
	margin-bottom: 10px;
  }
  
  .field label {
	display: block;
	font-size: 12px;
	color: #777;
  }
  
  .field input {
	display: block;
	min-width: 250px;
	line-height: 1.5;
	font-size: 14px;
  }
  
  input[type="submit"] {
	display: block;
	padding: 6px 30px;
	font-size: 14px;
	background-color: #4460AA;
	color: #fff;
	border: none
  }